* {
    margin: 0;
    padding: 0;
}

.intro {
    height: 100vh;
    background-image: url("bg.png");
    background-repeat: no-repeat;
}
.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.logo {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 18px;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.intro ul {
    display: flex;
    list-style: none;
}
.intro ul li {
    position: relative;
    padding: 30px 20px;
    font-size: 18px;
    color: white;
    font-family: Arial;
}

.txt {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 150px 0px 10px 0px;    
}
#txt1 {
    font-size: 50px;
    font-family: Arial;
    color: white;
}
#txt2 {
    font-size: 50px;
    font-family: Arial;
    color: white;
}

.button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 20px;
    background: none;
    border: 1px solid white;
    color: white;
    width: 200px;
    height: 70px;
    transition: all 0.4s ease;
}

.btn:hover {
    background-color: white;
    color: black;
}

.second-page {
    width:  100%;
    height: 60vh;
    background-color:white;
    display: flex;
}
.para {
    width: 50%;
    background-color:white;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
}

#para1 {
    font-size: 28px;
    font-family: arial;
    font-weight: bold;
}

#para2 {
    color: rgb(56, 55, 55);
    font-size: 14px;
    font-family: sans-serif;
}
#para3 {
    color: rgb(56, 55, 55);
    font-size: 14px;
    font-family: sans-serif;
}

.login {
    width: 50%;
    height: 400px;
    margin-top: 20px;
    margin-right: 40px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 5px solid rgb(209, 209, 209);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#frame {
    border: none;
    padding-left: 10px;
    border-radius: 2px;
    background-color: rgb(231, 231, 231);
    margin: 8px;
    width: 220px;
    height: 40px;
}
#link {
    color: orange;
    align-self: flex-start;
    margin-left: 50px;
    margin-top: 5px;
    padding: 10px;
}

.slides {
    height: 50vh;
    display:flex;
}

.beard {
    width: auto;
    height: 50vh;
}
.syntax {
    background:rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt1 {
    font-size: 30px;
    margin-top: 18px;
    font-family: arial;
}

.txt2 {
    font-size: 18px;
    margin-top: 15px;
    font-family: arial;
}

.txt3 {
    margin-top: 10px;
    padding: 0px 20px;
    font-size: 20px;
    font-family: arial;
}

